<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Stocknet - Login</title>
<link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>

<div class="login-wrapper">

    <div class="login-card">

        <h1>Stocknet</h1>
        <p>Acceso al sistema</p>

        <form th:action="@{/login}" method="post">

            <label>Usuario</label>
            <input type="text" name="usuario" required>

            <label>Contraseña</label>
            <input type="password" name="password" required>

            <button type="submit">Entrar</button>

            <div th:if="${param.error}" style="color:red; margin-top:10px;">
                Usuario o contraseña incorrectos
            </div>

        </form>

    </div>

</div>

</body>
</html>
